<form
class="container"
[formGroup]="benefitForm" class="benefit-form" (ngSubmit)="submitBenefit()">
  <mat-form-field class="benefit-full-width">
    <input matInput placeholder="Title" type="text" formControlName="title">
  </mat-form-field>

  <mat-form-field class="benefit-full-width">
    <textarea matInput placeholder="Description" type="text" formControlName="description"></textarea>
  </mat-form-field>
  <button color="primary" mat-raised-button  type="submit" [disabled]="!benefitForm.valid">Create Benefit</button>
</form>
