<mat-nav-list>
    <a routerLink="app/create-news" mat-list-item (click)="openLink($event)">
      <span mat-line>Create News</span>
      <span mat-line>Displayed on the home Page</span>
    </a>

    <a routerLink="app/create-benefit" mat-list-item (click)="openLink($event)">
      <span mat-line>Create Benefit</span>
      <span mat-line>Displayed on the Benefits Page</span>
    </a>

    <a routerLink="app/create-employee" mat-list-item (click)="openLink($event)">
      <span mat-line>Create Employee</span>
      <span mat-line>Displayed on the Benefits Page Employes</span>
    </a>


  </mat-nav-list>
