<ng-container *ngFor="let post of posts">
<mat-card class="news-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="news-header-image"></div> -->
      <mat-card-title text-capitalize>{{post.hr.name | titlecase }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="news-content">
        <mat-card-title>{{post.title}}</mat-card-title>
      <p>
        {{post.description}}
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>
