<mat-grid-list cols="2" rowHeight="6:1">
    <mat-grid-tile
    [colspan]="y"
    [rowspan]="x">
    <mat-card class="benefit-card">
        <mat-card-content class="benefit-content">
          <mat-card-title>New Employee</mat-card-title>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="y"
    [rowspan]="x">
    <mat-card class="benefit-card">
        <mat-card-content class="benefit-content">
          <mat-card-title>New Employee</mat-card-title>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="y"
    [rowspan]="x">
    <mat-card class="benefit-card">
        <mat-card-content class="benefit-content">
          <mat-card-title>New Employee</mat-card-title>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="y"
    [rowspan]="x">
    <mat-card class="benefit-card">
        <mat-card-content class="benefit-content">
          <mat-card-title>New Employee</mat-card-title>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
